@import "foundation/functions";

$total-columns: 14;
$rem-base: 16px;
$row-width: rem-calc(1140);

$control-font: "Lato", sans-serif;
$content-font: "Source Sans Pro";
$handwriting-font: "Pacifico", cursive;

@import "normalize";
@import "foundation";
@import "ionicons";

.red {color: #e74c3c;}
.green {color: #1abc9c;}
.purple {color: #9b59b6;}
.orange {color: #f39c12;}
.blue {color: #0267a2;}

body {
	color: white;
	font-family: $control-font;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

header {
	height: 100px;
	background-color: #0277bd;
	opacity: 0.7;
	width: 100%;
	z-index: 999;
	position: absolute;
	padding: 30px;

	img {
		margin-top: -48px;
		height: 140px;
	}

	a {
		color: white;
	}
}

header .subscribe {
	border: 1px solid white;
	background-color: transparent;
	font-size: 16px !important;
}

header li {
	float: right !important;
}

section {
	.container {
		padding-top: 120px;
		padding-bottom: 50px;
	}

	.title {
		color: white;
		font-family: $content-font;
		font-size: 2rem;
		margin-bottom: 1.6em;

		span {
			font-family: $handwriting-font;
			font-size: 2.3rem;
			&::after {
				content: "  ";
			}
		}
	}

	.subtext {
		list-style: none;
		margin-left: 0;
		font-family: $content-font;

		.icon {
			font-size: 2rem;
			line-height: 1.3em;
		}

		p {font-size: 1.3rem}
	}
}

#intro {
	background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url("/images/intro.jpg") no-repeat center center fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	padding-top: 40px;
}

#explore {
	background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url("/images/discover.jpg") no-repeat center center fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
}

#map {
	background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url("/images/street.jpg") no-repeat center center fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
}

#hangout {
	background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url("/images/hangout.jpg") no-repeat center center fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
}

#plans {
	background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url("/images/plans.jpg") no-repeat center center fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
}


#footer {
	width: 100%;
	min-height: 100px;
	background-color: #1f1f1f;
	padding: 34px 0px;
}

#footer .inline-list {
	margin: 0
}

#footer .inline-list li {
	float: right !important;
}

#footer a {
	color: white;
	font-size: 20px;
}