@import "foundation/functions";

$total-columns: 14;
$rem-base: 16px;
$row-width: rem-calc(1140);

$control-font: "Lato", sans-serif;
$content-font: "Source Sans Pro";
$handwriting-font: "Pacifico", cursive;

@import "normalize";
@import "foundation";
@import "ionicons";

.red {color: #e74c3c;}
.green {color: #1abc9c;}
.purple {color: #9b59b6;}
.orange {color: #f39c12;}

body {
	color: white;
	font-family: $control-font;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

header {
	height: 100px;
	background-color: #1f1f1f;
	opacity: 0.7;
	width: 100%;
	z-index: 999;
	position: relative;
	padding: 30px;
}

header .subscribe {
	border: 1px solid white;
	background-color: transparent;
	font-size: 16px !important;
}

header li {
	float: right !important;
}

section {
	.container {
		padding-top: 120px;
		padding-bottom: 50px;
	}

	.title {
		color: white;
		font-family: $content-font;
		font-size: 2rem;
		margin-bottom: 1.6em;

		span {
			font-family: $handwriting-font;
			font-size: 2.3rem;
			&::after {
				content: "  ";
			}


		}


	}

	.subtext {
		list-style: none;
		margin-left: 0;
		font-family: $content-font;

		.icon {
			font-size: 2rem;
			line-height: 1.3em;
		}

		p {font-size: 1.3rem}
	}
}

#large-logo {
	margin-top: 30px;

	.wrap {
		height: 400px;
		width: 400px;
		margin-right: auto;
		margin-left: auto;
		position: relative;

		.shard-wrap {
			height: 100%;
			width: 100%;
			position: absolute;
			z-index: 2;

			.shard {
				position: absolute;
				height: 100%;
				width: 100%;
			}

			&:nth-child(1) .shard {
				-webkit-clip-path: polygon(29.65% 67%, 67.85% 67%, 81% 57%, 40.65% 52.286%);
				background-color: #e74c3c;
			}

			&:nth-child(2) .shard {
				-webkit-clip-path: polygon(67.65% 67%, 89.85% 67%, 80.65% 57.286%);
				background-color: #c0392b;
			}

			&:nth-child(3) .shard {
				-webkit-clip-path: polygon(93.65% 48%, 89.85% 67%, 80.65% 57.286%);
				background-color: #16a085;
			}

			&:nth-child(4) .shard {
				-webkit-clip-path: polygon(84.65% 45%, 93.85% 48%, 81% 57%, 40.65% 52.286%);
				background-color: #1abc9c;
			}

			&:nth-child(5) .shard {
				-webkit-clip-path: polygon(93.65% 48%, 92.85% 49%, 97% 68%, 90.65% 62.286%);
				background-color: #2980b9;
			}
		}

	}
}

#intro {
	background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url("/images/intro.jpg") no-repeat center center fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	margin-top: -100px;

	.content {
		text-align: center;
	}

	.title {
		margin: 0;
	}

	.discover {
		font-family: $content-font;
		margin: 0;
		margin-top:30px;
		position: relative;
		color: white;

		span.normal {margin-right: 10px;}

		span.cross {
			// transform: rotate(-14deg);
			display: inline-block;
			position: relative;
			// bottom: -30px;
			color: #27ae60;
			font-family: $handwriting-font;

			&::after {
				content: " ";
			}

			&::before {
				content: "/";
				position: absolute;
				left: 5px;
				font-family: $control-font;
				font-size: 1.1em;
				line-height: 1em;
				top: 13px;
			}
		}

		span.alt {
			position: absolute;
			top: -30px;
			color: #2980b9;
			font-family:  $handwriting-font;
		}

		span.new {
			color: #2980b9;
			font-family: $handwriting-font;
		}
	}
}

#explore {
	background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url("/images/discover.jpg") no-repeat center center fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
}

#map {
	background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url("/images/street.jpg") no-repeat center center fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
}

#hangout {
	background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url("/images/hangout.jpg") no-repeat center center fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
}

#plans {
	background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url("/images/plans.jpg") no-repeat center center fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
}


#footer {
	width: 100%;
	min-height: 100px;
	background-color: #1f1f1f;
	padding: 34px 0px;
}

#footer .inline-list {
	margin: 0
}

#footer .inline-list li {
	float: right !important;
}

#footer a {
	color: white;
	font-size: 20px;
}