doctype html
html(lang="en")
  head
    title Shoplane
    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Lato:300|Source+Sans+Pro:300|Pacifico")
    link(rel="apple-touch-icon", sizes="57x57", href="/images/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/images/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/images/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/images/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/images/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/images/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/images/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/images/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/images/favicon/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192", href="/images/favicon/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="/images/favicon/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon/favicon-16x16.png")
    link(rel="manifest", href="/images/favicon/manifest.json")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="/images/favicon/ms-icon-144x144.png")
    meta(name="theme-color", content="#ffffff")
    //- main:css
    //- endinject
  body
    header
        div.row
            div.small-3.columns
                img(src="/images/icon.png")
            div.small-6.columns
                ul.inline-list
                    li
                        a.button.round.subscribe.tiny Notify me !
                    li
                        a(href="/business") For Business

    section#intro
        div.container.row
            div.small-6.columns
                h1.title
                    span.red Go Shopping
                    | @ &nbsp;
                    span.blue Go Shoplane
                h1.title
                    | Now shop at your nearest store with the convienence of &nbsp;
                    span.green Ecommerce
                ul.subtext
                    li.row
                        i.red.small-1.columns.icon.ion-ios-checkmark-outline
                        p.small-13.columns.
                            Search and add items to your wishlist
                    li.row
                        i.red.small-1.columns.icon.ion-ios-checkmark-outline
                        p.small-13.columns.
                            Create your shopping plan and invite friends
                    li.row
                        i.red.small-1.columns.icon.ion-ios-checkmark-outline
                        p.small-13.columns.
                            Find about latest arrivals and sales, before you miss them
            div.small-6.columns
                img(src="/images/5.png")
    section#explore
        div.container.row
            div.small-6.columns
                img(src="/images/4.png")
            div.small-6.columns
                h1.title
                    span.purple Shopping
                    | to discover your new look ?
                ul.subtext
                    li.row
                        i.purple.small-1.columns.icon.ion-ios-checkmark-outline
                        p.small-13.columns.
                            Search through a large selection of products
    section#map
        div.container.row
            div.small-6.columns
                h1.title
                    span.green Shopping
                    | to explore new venues ?
                ul.subtext
                    li.row
                        i.green.small-1.columns.icon.ion-ios-checkmark-outline
                        p.small-13.columns.
                            Explore brands and showrooms that you have never tried before
            div.small-6.columns
                img(src="/images/7.png")
    section#plans
        div.container.row
            div.small-6.columns
                img(src="/images/1.png")
            div.small-6.columns
                h1.title
                    | whatever the reason, <br> plan your next&nbsp;
                    span.red Shopping
                    | with Shoplane
                form(name="subscribe")
                    div#inputs.row
                        div.large-14.columns
                            div.row.collapse
                                div.small-10.columns
                                    input#email(type="text" placeholder="Your email id" name="email")
                                div.small-4.columns
                                    a#subscribe.button.postfix(href="#") I wanna know !

    section#footer
        div.row
            div.small-14.columns
                ul.inline-list
                    li
                        a(href="/about") About
                    li
                        a(href="/business") For Business

    //- script(type='text/javascript')
    //-     $("#subscribe").click(function() {
    //-         var email = $("#email").val();
    //-         $.post("subscribe", { "email": email }, function(data) {
    //-             console.log("done !");
    //-         });
    //-     });

    //- vendor:js
    //- endinject
    //- goshoplane:js
    //- endinject